
$h1-font-size: 60px;
$h2-font-size: 40px;
$h3-font-size: 32px;
$h4-font-size: 26px;
$h5-font-size: 20px;
$h6-font-size: 24px;

// $font-weight-lighter: lighter;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
// $font-weight-bolder: bolder;
