header {
  border: 1px solid #d9d9d9;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  h1 {
    color: #0e0e0e;
    margin: 0;
    padding: 10px 0;
    text-align: center;
    font-size: 38px;
    font-weight: 700;
  }
}
@include media-breakpoint-up(md) {
  h1 {
    font-size: 48px;
  }
}
